target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

.idea

hexchess-svc/app.log
hexchess-ui/src/lib/api/messages.ts
hexchess-ui/build
*/.svelte-kit
*/node_modules
hexchess-svc/.env
.env
hexchess-svc/src/main/resources/.env

wasm_exec.js
chess.wasm

graph.dot