target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

.idea

backend/app.log
backend/.env
backend/pb/*
backend/db/sqlc

frontend/src/lib/pb/*
frontend/build

*_mock.go

*/.svelte-kit
*/node_modules
.env

wasm_exec.js
chess.wasm

graph.dot