target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

.idea

hexchess-svc/app.log
hexchess-svc/.env
hexchess-svc/pb/*
hexchess-svc/db/sqlc

hexchess-ui/src/lib/pb/messages.ts
hexchess-ui/build

*/.svelte-kit
*/node_modules
.env

wasm_exec.js
chess.wasm

graph.dot
*.ps1