:root {
    color-scheme: dark;
}

html {
    background: rgb(33, 33, 33);
    /*background: linear-gradient(to bottom, rgb(43, 43, 43) 0% 5%, rgb(33, 33, 33) 10% 100%) no-repeat fixed;*/
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu;
    font-size: 15px;
    color: rgb(180, 180, 180);
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.highlight {
    color: dodgerblue;
    text-decoration: underline;
}

.title-lg {
    font-size: 26px;
    padding: 20px;
}

.banner {
    height: 75px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    user-select: none;
    font-weight: 500;

    width: 70%;

    background: rgb(43, 43, 43);
    box-shadow: 0 1px rgb(22, 22, 22);
}

.banner-elem {
    font-size: 17px;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 6px;
    user-select: none;
    text-decoration: none;
}

.bold-link {
    font-weight: bold;
    color: dodgerblue;
}

.color-hover:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.title-color-hover:hover {
    color: dodgerblue;
    text-decoration: none;
}

.banner-elem:hover {
    text-decoration: none;
}

.center-horizontal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-vertical-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.table-container {
    width: 100%;
}

table {
    border-collapse: collapse;
    border-radius: 26px;

    /* this is a hack to draw a border radius around a table */
    border-collapse: collapse;
    border-radius: 3px;
    border-style: hidden;
    box-shadow: 0 0 0 1px rgb(52, 52, 52);
}

th,
td {
    padding: 8px 24px;
    text-align: left;
    font-weight: 500;
}

.row-hover:hover {
    cursor: pointer;
    background: rgb(52, 52, 52);
}

tr {
    background: rgb(42, 42, 42);
}

thead tr:first-child {
    background: rgb(23, 23, 23);
}

tr:nth-child(odd) {
    /*    background: rgb(52, 52, 52);*/
}

th:first-child {
    border-top-left-radius: 3px;
}

th:last-child {
    border-top-right-radius: 3px;
}

tr {
    /*    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 3px;*/
    height: 45px;
}

.text-xlg {
    font-size: 45px;
    font-weight: bold;
}

.text-lg {
    font-size: 36px;
    font-weight: bold;
}

.text-xsm {
    font-size: 16px;
}

.text-sm {
    font-size: 20px;
}

.text-md {
    font-size: 30px;
}

.center-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-font {
    position: relative;
    top: 1px;
    font-family: 'Gidole', sans-serif;
    font-weight: 100;
}

.logo-symbol {
    height: 45px;
    width: auto;
    margin-right: 5px;
    opacity: 0.75;
}

.panel {
    border-radius: 4px;
    padding: 30px;
    background-color: rgb(42, 42, 42);
    box-shadow: rgba(0, 0, 0, 0.24) 0 1px 3px;
}

.panel-container {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    margin-bottom: 0;
}

.panel-elem {
    font-size: 16px;
    box-sizing: border-box;
}

.panel-title {
    font-weight: 600;
    color: rgb(160, 160, 160);
}

.panel-text {
    font-size: 20px;
}

.flag {
    position: relative;
    top: 3px;
    border-radius: 2px;
    width: auto;
    margin-left: 3px;
    height: 13px;
}

.flag-lg {
    border-radius: 5px;
    height: 50px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

.wrapper {
    min-width: 50%;
}

.form-wrapper {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    display: block;
    vertical-align: center;
}

label {
    font-size: 20px;
}

input {
    border-radius: 6px;
    height: 34px;
    line-height: 34px;
    font-size: 15px;
    padding: 0 15px;
    min-width: 100px;
    width: calc(100% - 30px);
    margin: 0;
    border: 1px rgb(80, 80, 80) solid;
    background-color: rgb(42, 42, 42);
}

input:focus {
    outline: none !important;
    border: 1px rgb(160, 160, 160) solid;
}

textarea {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    resize: vertical;
    border-radius: 6px;
    border: 1px rgb(80, 80, 80) solid;
    background-color: rgb(42, 42, 42);
    min-height: 75px;
}

textarea:focus {
    outline: none !important;
    border: 1px rgb(160, 160, 160) solid;
}

select {
    height: 40px;
    background-color: rgb(33, 33, 33);
    padding: 3px 4px;
    border-radius: 6px;
    min-width: 200px;
    font-weight: 500;
    margin-left: 5px;
    margin-right: 5px;
}

.button {
    height: 42px;
    font-size: 16px;
    min-width: 150px;
    color: #fff;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    text-align: center;
    width: fit-content;
    padding: 5px 10px 5px;
    outline: none;
    border: none;
    text-decoration: none;
    font-weight: 600;
    font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

.button-grey {
    background: rgb(75, 75, 75);
    box-shadow: 0 5px rgb(55, 55, 55);
}

.button-grey:active {
    top: 2px;
    box-shadow: 0 3px rgb(55, 55, 55);
}

.button-grey:hover {
    background: rgb(85, 85, 85);
    text-decoration: none;
}

.button-light-grey {
    color: rgb(195, 195, 195);
    padding: 15px 25px;
    background: rgb(70, 70, 70);
}

.button-light-grey:hover {
    background: rgb(90, 90, 90);
}

.button-red {
    height: 48px;
    background: rgb(210, 4, 45);
    box-shadow: 0 5px rgb(180, 4, 15);
}

.button-red:active {
    top: 2px;
    box-shadow: 0 3px rgb(180, 4, 15);
}

.button-red:hover {
    background: rgb(250, 44, 85);
    text-decoration: none;
}

.button-small {
    appearance: none;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 3px;
    box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    padding: 5px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 85px;
    height: 35px;
}

.button-small-green {
    background-color: rgb(46, 164, 79);
    box-shadow: 0 5px rgba(46, 164, 79, 0.4);
}

.button-small-green:hover {
    background-color: rgb(66, 184, 99);
}

.button-small-green:focus {
}

.button-small-green:active {
    top: 3px;
    background-color: #298e46;
    box-shadow: 0 2px rgba(46, 164, 79, 0.4);
}

.button-small-red {
    background-color: rgb(255, 71, 66);
    box-shadow: 0 5px rgb(180, 4, 15);
}

.button-small-red:hover {
    background-color: rgb(255, 101, 96);
}

.button-small-red:focus {
}

.button-small-red:active {
    top: 3px;
    background-color: rgb(235, 51, 46);
    box-shadow: 0 2px rgb(180, 4, 15);
}

.button-scaled {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-submit-vertical-form {
    position: relative;
    display: inline-block;
    top: 3px;
    margin-left: 10px;
}

.vertical-spaced {
    margin-top: 10px;
    display: block;
}

.red-color {
    color: rgb(225, 30, 30);
}

.green-color {
    color: #78b13f;
}

.yellow-color {
    color: yellow;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.page-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: rgb(42, 42, 42);
    width: 30px;
    height: 30px;
    text-decoration: none;
    border: 1px solid rgb(52, 52, 52);
    margin: 4px;
}

.page-button:hover {
    cursor: pointer;
    background: rgb(52, 52, 52);
}

.capped-size {
    max-width: 550px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.text-ul:hover {
    text-decoration: underline;
    cursor: pointer;
}

.loader {
    width: 20px;
    height: 20px;
    border: 5px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    vertical-align: middle;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.challenge-list {
    padding: 15px 30px;
    border-radius: 5px;
    background-color: rgb(42, 42, 42);
    /*box-shadow: rgba(0, 0, 0, 0.24) 0 2px 4px;*/
}

.color-wrapper {
    color: white;
    background-color: rgba(0, 150, 255, 0.75);
    padding: 11px 15px;
    border-radius: 6px;
}

.challenge-box {
    width: 100%;
    padding: 15px 0;
    border-radius: 3px;
    background-color: rgb(42, 42, 42);
    display: flex;
    flex-direction: row;
    z-index: 2;
}

.center-relative {
    display: grid;
    place-items: center;
    margin-right: 0;
    margin-left: auto;
}

.vertical-align {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.tabs-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.tab {
    text-align: center;
    flex: 0.5;
    padding: 10px 20px;
    text-decoration: none !important;
    font-weight: 500;
    border-bottom: 1px solid rgb(120, 120, 120);
    color: rgb(110, 110, 110);
}

.tab:hover {
    color: rgb(160, 160, 160);
}

.tab-selected {
    color: rgb(180, 180, 180);
    border-bottom: 2px solid rgb(255, 255, 255);
}

.tab-selected:hover {
    color: rgb(180, 180, 180);
}

.svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.bottom-right-anchor {
    position: fixed;
    bottom: 0;
    right: 0;
}

.notifications-box {
    z-index: 10000;
}

.notification {
    display: flex;
    flex-direction: row;
    z-index: 10000;
    margin: 20px;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
}

.invisible {
    opacity: 0;
    transition:
        opacity 0.2s ease,
        transform ease;
}

.visible {
    opacity: 1;
}

.notification-green {
    background-color: #2ea44f;
}

.notification-red {
    background-color: crimson;
}

.notification-text {
    flex: 0.9;
}

.notification-space {
    flex: 0.05;
}

.notification-x {
    all: unset;
    flex: 0.05;
    float: right;
    margin-right: auto;
    cursor: pointer;
}

.modal-x {
    position: absolute;
    top: 20px;
    right: 20px;
}

.country-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}

.country-image {
    width: 80px;
    height: 55px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.country-picker {
    position: absolute;
    z-index: 2;
    overflow-y: scroll;
    background-color: rgb(50, 50, 50);
    box-shadow: 0 0 0 1px rgb(40, 40, 40);
    border-radius: 10px;
    padding: 25px;
    width: calc(87px * 5);
    height: calc(500px);
}

.board {
    position: relative;
}

.hexagon {
    position: absolute;
    aspect-ratio: 1 / cos(30deg);
    clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
    display: flex;
    justify-content: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.piece-img {
    padding-top: 2px;
    max-width: 88%;
    max-height: 88%;
    cursor: pointer;
}

.move-table {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgb(35, 35, 35);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 1px 3px;
    max-height: calc(100vh - 75px - 40px); /* Screen height minus the banner height minus the margin height */
}

.move-table-header {
    padding: 15px;
    border-radius: 4px;
    background-color: rgb(44, 44, 44);
}

.move-table-nav-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.move-table-header-elem {
    margin-bottom: 5px;
}

.move-list {
    height: fit-content;
    flex-grow: 1;
    overflow-y: auto;
    border-top: 1px solid rgb(58, 58, 58);
    border-bottom: 1px solid rgb(58, 58, 58);
}

.move-table-buttons {
    background-color: rgb(44, 44, 44);
    padding: 20px;
    border-radius: 4px;
}

.move-table-button {
    height: 38px;
    font-size: 15px;
}

.move-row {
    display: flex;
    flex-direction: row;
    height: 40px;
}

.move-number {
    flex: 0.2;
    line-height: 40px;
    text-align: center;
    background-color: rgb(48, 48, 48);
    border-right: 1px solid rgb(58, 58, 58);
    border-left: 1px solid rgb(58, 58, 58);
}

.move-button {
    all: unset;
    cursor: pointer;
    flex: 0.4;
    line-height: 40px;
    padding-left: 20px;
    border-radius: 2px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.move-button:hover {
    background-color: rgb(65, 65, 65);
}

.selected-move {
    background-color: rgb(53, 53, 53);
}

.button-transparent {
    all: unset;
    cursor: pointer;
    border-radius: 6px;
    padding: 5px 8px;
}

.button-transparent:hover {
    background-color: rgb(55, 55, 55);
}

.absolute-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 100;
}

.modal {
    z-index: 1000;
    width: 400px;
}

.color-piece-image {
    width: 65px;
    height: 65px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    background-color: rgb(55, 55, 55);
    box-shadow: rgba(0, 0, 0, 0.24) 0 1px 3px;
}

.color-piece-image:hover {
    background-color: rgb(66, 66, 66);
}

.selected-color-piece-image {
    background-color: rgb(77, 77, 77);
}

.invisible-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
}